@{
    ViewBag.Title = "About Five-In-A-Row";
}
<h2 style="color:#ea8d09;">About Five-In-A-Row</h2>
<h3>@ViewBag.Message</h3>

<p>Good books have always been the doorway to learning. That doorway leads to growth and an apprectiation for the wonders around us. Come along on a learning adventure using picture books to open the door to art, history, vocabulary, geography, science, human relationships, math and writing!</p>
